$theme-color: #01BD9F;
$theme-color-light: #10D7C0;
$text-black: #333;
$text-gray-deep: #666;
$text-gray: #999;
$text-red: #E6252E;
$text-green: #0ECD99;
$text-white: #ffffff;
$orange-color:#FFA136;
$white-color:#ffffff;
